[flurry]
api-key=SS973MFY8JFTV73377JN
token=eyJhbGciOiJIUzI1NiIsImtpZCI6ImZsdXJyeS56dXVsLnByb2Qua2V5c3RvcmUua2V5LjIifQ.eyJpc3MiOiJodHRwczovL3p1dWwuZmx1cnJ5LmNvbTo0NDMvdG9rZW4iLCJpYXQiOjE1NzU0OTI2NTMsImV4cCI6MzMxMzI0MDE0NTMsInN1YiI6IjQ1NjU1OSIsImF1ZCI6IjQiLCJ0eXBlIjo0LCJqdGkiOiIxMDY1OCJ9.yNLYHGlmg-bwWySAIvuz8CVT1IalFsVU0Ka9qROLHSg
timeout=60000
ndk=false
